<h2 class="pb-2">New Company</h2>

<%= form_with scope: :company, url: companies_path, local: true do |form| %>

<% if @company.errors.any? %>
  <div id="error">
    <h2 class="pb-2">
      <%= pluralize(@company.errors.count, "error") %>
      prohibited this employee from being saved:
    </h2>
    <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

<% end %>

<p>
  <form>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>

      <p>
        <%= form.label :details %>
        <%= form.text_area :details, class: "form-control" %>
      </p>

      <p>
        <button type="submit" class="btn btn-primary">Save</button>
        <%= link_to "Back to companies list", companies_path, class: "btn btn-outline-primary", role: "button" %>
      </p>
    <% end %>

  </div>
