<h3><%= @company.name %></h3>
<p><%= @company.details %></p>

<h3>Employees</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Forename</th>
      <th>Surname</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% for employee in @company.employees %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.forename %></td>
        <td><%= employee.surname %></td>
        <td><%= link_to "Edit", edit_company_employee_path(employee), class: "btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add Employee", new_company_employee_path(@company), class: "btn btn-primary" %>

<%= link_to "Back to companies List", companies_path, class: "btn btn-outline-primary" %>
